.blogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .single-blog {
        border: 1px solid gray;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 420px;

        text-align: left !important;

        .title {
            font-size: 18px;
            font-weight: 600;
        }

        .content {
            padding: 10px 0;
            font-size: 16px;
        }

    }
}

.btn-add-new {
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
}

.add-new-container {
   

    min-width: 400px;
    border: 1px solid gray;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
    border-radius: 4px;

    .text-add-new {
        margin: 10px 0;
        text-align: center;
    }

    .input-data {
        padding: 5px;
        margin: 5px;

        display: flex;
        flex-direction: column;
    }
    
}